bbody {
    padding: 0;
    margin: 0;
    
    background-color: #DDD;
  }
  
  .navbar {
    text-align: center;
    border-bottom: 1px solid #BBBBBB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .nav-link {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #031D44;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 4px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }

  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  .active-link {
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        color: #031D44;
        padding: 20px 0px;
        margin: 0px 20px;
        display: inline-block;
        position: relative;
        opacity: 1px;
        height: 4px;
        border-bottom: 4px solid currentColor;
  }

